<div class="container-fluid">
    <h4 class="about offset-1 col-8" style="margin-top:30vh">Supporting emerging artists is crucial for the growth and diversity of the music world.
    Emerging
    artists are often at the beginning of their careers and may lack the financial stability,
    connections, and exposure necessary to establish themselves in the industry. By supporting
    emerging artists, we provide them with the resources and opportunities they need to create and
    share their work with the world. This not only helps individual artists to grow and develop, but
    also allows for new perspectives and voices to be represented in the art world, creating a
    richer and more dynamic cultural landscape. By investing in emerging artists, we
    contribute to the long-term sustainability of music by ensuring that new talent is constantly
    being nurtured and encouraged.
</h4>
</div>

